<html>
    <head>
        <title>Add Books</title>
    </head>
    <body>
        <h2>Add Books</h2>
        <form action="/add-book" method="POST">
            <input type="text" name="title" placeholder="Enter Book title"/>
            <input type="text" name="author" placeholder="Enter Author name"/>
            <input type="text" name="isbn" placeholder="Enter ISBN"/>
            <input type="text" name="price" placeholder="Enter Book Price"/>
            <input type="text" name="quantity" placeholder="Enter quantity"/>
            <button>Submit</button>
        </form>
    </body>
</html>