<html>
    <head>
        <title>Login Form</title>
    </head>
    <body>
        <h1>Login Form</h1>
        <form action="/verify-login" method="POST">
            <input type="email" name="email" placeholder="Enter your Email"/>
            <input type="password" name="password" placeholder="Enter your Password"/>
            <button>Login</button>
            <div>No Account? <a href="#">Register Here</a></div>
        </form>
    </body>
</html>