<html>
    <head>
        <title>Profile page</title>
    </head>
    <body>
        <h1>Profile Page</h1>
        <p>Name: <%=user_details.name%></p>
        <p>Email: <%=user_details.email%></p>
    </body>
</html> 