<html>
    <head>
        <title>Search Results</title>
    </head>
    <body>
        <h1>Searched book</h1>
        <form action="/search-books" method="POST">
            <p>Title: <%=searchResults.title%></p>
            <p>Author: <%=searchResults.author%></p>
        </form>
    </body>
</html>