<html>
    <head>
        <title>Update Profile</title>
        <link rel="stylesheet" href="/styles/updateProfile.css">
    </head>
    <body>
        <form action="/update-profile" method="POST">
            <h1>Update Profile</h1>
            <input type="text" name="name" placeholder="Enter your new Name:"/>
            <input type="password" name="password" placeholder="Enter your new Password"/>
            <button>Save Changes</button>
        </form>
    </body>
</html>